@import '../../../../styles/colors';

.phoneParam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;

  &__name {
    color: $Secondary;
  }

  &__overview {
    color: $Primary;
  }
}
