@import '../../../../styles/colors';

.phoneParam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;

  &__name {
    color: var(--secondary);
  }

  &__overview {
    color: var(--primary);
  }
}
