@import '../../../styles/colors';

.icon {
  display: flex;
  width: 50px;
  &__large {
    width: 50%;
  }
  button {
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}

@media (min-width: 640px) {
  .icon {
    display: none;
  }
}
