@import '../../styles/colors';
@import '../../styles/grid';

.catalog {
  &__breadcrumbs {
    display: flex;
    align-items: end;
    gap: 8px;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    &__text {
      font-size: 12px;
      line-height: 15.34px;
      color: var(--secondary);
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  &__subtitle {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 21px;
    color:var(--secondary);

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__dropdowns {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 24px;

    @include page-grid;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-inline: 20px;
    transition: transform 3s;

    &__numbers {
      display: flex;
      width: 192px;
      overflow: hidden;
      gap: 8px;
      transition: transform 3s;
    }
  }
}

.pagination-number {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: px;
  font-size: 14px;
  font-weight: 500;
  min-width: 32px;
  min-height: 32px;
  background-color: $White;
  border: 1px solid $Elements;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s ease-in-out;

  &.selected {
    background-color: $Primary;
    color: $White;
  }

  &:hover:not(.selected) {
    border-color: $Primary;
  }
}
