@import '../../styles/colors';
@import '../../styles/grid';

.catalog {
  min-height: calc(100vh - 68.8px);

  padding-top: 24px;
  padding-bottom: 64px;

  @include on-desctop {
    padding-bottom: 80px;
  }

  &__breadcrumbs {
    display: flex;
    align-items: end;
    gap: 8px;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    &__text {
      font-size: 12px;
      line-height: 15.34px;
      color: $Secondary;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  &__subtitle {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 21px;
    color: $Secondary;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__dropdowns {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 24px;

    @include page-grid;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }
}
