@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 1023px) {
    @content;
  }
}

.banner {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 40px;

  @include onTablet {
    padding-top: 20px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;

    @include onMobile {
      height: 200px;
    }
  }
}

.swiper {
  width: 100%;

  &-banner-wrapper {
    height: 400px;

    @include onMobile {
      height: 200px;
    }
  }

  &-button-prev,
  &-button-next {
    height: 400px;
    width: 32px;

    @include onMobile {
      display: none;
    }
  }

  &-pagination {
    position: static;
    margin-top: 8px;

    &-bullet {
      width: 14px;
      height: 4px;

      border-radius: 0;
      background-color: red;

      &-active {
        background-color: red;
      }
    }
  }
}
