@import '../../styles/colors';
@import '../../styles/grid';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 24px;

  &__home * {
    fill: var(--primary);
  }

  &__icon * {
    fill: var(--icons);
  }

  @include on-tablet {
    margin-bottom: 40px;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
    line-height: 15.34px;
    color: $Primary;
    margin-top: 1px;
    font-weight: 600;

    &__active {
      color: $Secondary;
    }
  }
}
