.itemsSlider-wrapper {
  padding-inline: 16px;

  @media screen and (min-width: 640px) {
    padding-inline: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-inline: 32px;
  }
  .swiper {
    width: 896px;

    @media screen and (min-width: 640px) {
      width: 996px;
    }

    @media screen and (min-width: 1200px) {
      width: 1136px;
    }
  }

  .productCard_wrapper {
    width: 212px;

    @media screen and (min-width: 640px) {
      width: 237px;
    }

    @media screen and (min-width: 1200px) {
      width: 272px;
    }
  }
}
