@import '../../styles/colors';
@import '../../styles/animations';

.back {
  margin-top: 24px;

  font-size: 12px;
  color: $Secondary;
  height: 16px;
  font-weight: 600;

  display: flex;
  align-items: center;

  grid-column: 1;

  cursor: pointer;

  @include hover(color, $Primary);
  img {
    color: $Primary;
    margin-right: 10px;
  }
}
