@import '../../styles/colors';
@import '../../styles/animations';

.back {
  margin-top: 24px;

  font-size: 12px;
  height: 16px;
  font-weight: 600;

  background-color: var(--background);
  color: var(--back-button-color);

  display: flex;
  align-items: center;

  grid-column: 1;

  cursor: pointer;

  @include hover(color, $Primary);
  &__img {
    color: $Primary;
    margin-right: 10px;
  }

  &__img * {
    fill: var(--primary);
  }
}
