@import '../../styles/colors';

.cart {
  margin-top: 46px;
  margin-bottom: 80px;
  &__pageName {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $Primary;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .cart {
    margin-bottom: 64px;
    &__content {
      flex-direction: column;
      gap: 32px;
    }
  }
}

@media screen and (max-width: 639px) {
  .cart {
    margin-top: 42px;
    margin-bottom: 56px;
  }
}
