@import '../../styles/colors';
@import '../../styles/grid';

/* stylelint-disable no-descending-specificity */

.card {
  padding: 32px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--card-background);
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    .card__image {
      transform: scale(1.09);
    }

    box-shadow: inset 0 1px 15px 0 var(--button-shadow);
  }

  &__image_container {
    display: flex;
    justify-content: center;
    height: 200px;
  }

  &__favourite_icon * {
    fill: var(--primary);
  }

  grid-column: span 4;

  @include on-big-mobile {
    grid-column: span 2;
  }

  @include on-tablet {
    grid-column: span 6;
  }

  @include on-big-tablet {
    grid-column: span 4;
  }

  @include on-desctop {
    grid-column: span 6;
  }

  &__title {
    margin-top: 16px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: var(--primary);
    width: 100%;
    flex-grow: 1;
    cursor: pointer;
    transition: text-decoration 0.5s ease;

    &:hover {
      text-decoration: underline;
    }

    min-height: 42px;
  }

  &__image {
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
  }

  &__price {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    line-height: 30.8px;
    gap: 8px;
    color: var(--primary);
    position: relative;

    ::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 1px;
      background-color: $Elements;

      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.buttonsPlaceholder {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

@media screen and (max-width: 639px) {
  .card {
    &__title {
      min-height: 63px;
    }
  }
}
