@import '../../../styles/colors';
@import '../../../styles/grid';
@import '../../../styles/animations';

.container {
  @include page-grid;
  @include container;

  gap: 30px;
  align-items: center;
}

.footer {
  padding-block: 32px;

  border-top: 1px solid var(--footer-header-border);

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @include on-big-mobile {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    @include on-desctop {
      align-items: flex-start;
      margin-left: 10px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__section {
    grid-column: 1 / -1;
    justify-content: center;

    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 4;
    }
    &:nth-child(4) {
      order: 4;
    }

    @include on-big-mobile {
      grid-column: span 2;

      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 4;
      }
      &:nth-child(3) {
        order: 3;
      }
      &:nth-child(4) {
        order: 2;
      }
    }

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desctop {
      grid-column: span 6;

      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
      }
      &:nth-child(3) {
        order: 4;
      }
      &:nth-child(4) {
        order: 4;
      }
    }
  }

  &__links {
    @include on-big-mobile {
      text-align: center;
    }

    @include on-desctop {
      text-align: left;
    }
  }
}

.github {
  display: flex;
  gap: 6px;
  align-items: center;
  
  height: 22px;

  font-size: 16px;
  font-weight: 800;
line-height: 30px;
  color: $Secondary;

  @include hover(color, $Primary);

  img {
    height: 100%;
  }
}

.copywrite {
  grid-column: 1 / -1;
  order: 5;

  text-align: center;

  padding-top: 32px;
  border-top: 1px solid var(--footer-header-border);

  font-size: 14px;
  color: $Icons;
  line-height: 200%;

  cursor: default;

  a {
    color: $Secondary;

    @include hover(color, $Primary);
  }
}