/* Original-theme Colors */
$Primary: #313237;
$Secondary: #89939a;
$Icons: #b4bdc3;
$Elements: #e2e6e9;
$Hover_BG: #fafbfc;
$White: #fff;
$Green: #27ae60;
$Red: #eb5757;
$Gray: #fafbfc;
$Shadow: #17203166;
$Shadow-header: 0 1px 0 0 #e2e6e9;

/* Original-dark */
$White_dark: #f1f2f9;
$Secondary_dark: #75767f;
$Icons_dark: #4a4d58;
$Elements_dark: #3b3e4a;
$Suface_two_dark: #323542;
$Surface_one_dark: #161827;
$Black_dark: #0f1121;
$Accent_dark: #905bff;
$Accent-light: #a378ff;
$Accent-Shadow: #491cac;
$Shadow-header-dark: 0 1px 0 0 #323542;

/* green and red the same */
