@import '../../styles/colors';

.pagination {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-inline: 20px;
  transition: transform 3s;

  &__arrow * {
    fill: var(--primary);
  }

  &__numbers {
    display: flex;
    width: 192px;
    overflow: hidden;
    gap: 8px;
    transition: transform 3s;
  }
}
