@import '../../../styles/colors.scss';

.icon {
  display: none;
  padding: 16px;
  border: 1px solid $Icons;

  transition: 0.3s border-color;
  &__img {
    width: 16px;
    object-fit: contain;
    margin: 0 auto;
  }
  &:hover {
    border-color: $Primary;
  }
}

@media (min-width: 640px) {
  .icon {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .icon {
    padding: 24px;
  }
}
