@import '../../styles/colors';

.dropdown {
  position: relative;
  width: 200px;
  min-width: 120px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 15.34px;
    color: var(--secondary);
  }

  &__toggle {
    font: inherit;
    padding: 10px 12px;
    cursor: pointer;
    background-color: var(--hover);
    border: 1px solid var(--dropdown-border-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);

    &:hover {
      border-color: var(--secondary);
    }

    &:focus {
      border-color: var(--dropdown-focus-color);
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background);
    border: 1px solid var(--dropdown-border-color);
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  &__item {
    padding: 10px 12px;
    color: var(--secondary);
    cursor: pointer;

    &:hover {
      color: var(--primary);
      background-color: var(--grey);
    }
  }
}
