@import '../../../styles/colors';

.withoutDiscount {
  color: var(--secondary);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
    mix-blend-mode: color-dodge;
    transform: translateY(-50%);
  }
}
