@import '../../../styles/colors';

.phoneParams {
  margin-top: 8px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;

  &__techSpecs {
    font-size: 14px;
  }
}
